/* === Layout Elements === */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    text-align: left;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 90px;
    margin: 0px 0px 40px 0px;
    padding: 0px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.headCenter {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
}

.logo {
    width: 250px;
    height: 90px;
    background-color: #4aaaa5;
    margin: 0px;
    padding: 0px;
    text-align: center;
    float: left;
}

.nav {
    float: right;
    align-content: center;
}

.container {
    clear: both;
    width: 900px;
    padding: 30px 30px 35px 30px;
    margin: 0 auto;
    background: white;
    border: 1px solid #dddddd;
    flex: 1 0 auto;
} 

.bioLeft {
    float: left;
    width: 20%;
}

.bioRight {
    width: 80%;
    float: right;
    vertical-align: top;
}

footer {
    width: 100%;
    background-color: #666;
    border-top: 10px solid #4aaaa5;
    margin-top: 40px;
    padding-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    clear: both;
    flex-shrink: 0;
}

#copyright {
    width: 90%;
    height: 40px;
    text-align: center;
    float: left;
}

#social {
    width: 10%;
    float: right;
    vertical-align: top
}

/** === Text Elements === */

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color:white;
    text-align: center;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    color: #4aaaa5;
}

.firstParagraph {
    margin: 45px 0px 0px 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 0px 0px 35px;
    padding: 20px 0px 0px 0px;;
    color: #777777;
}

a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: none;
    color: #4aaaa5;
}

/* === Images === */

.images {
    clear: both;
}

.hoff {
    margin: 40px 20px 20px 0px;
    float: left;
}



figure {
    display: inline-block;
    text-align: left;
    margin: 40px 40px 0px 0px;
}

figure img {
vertical-align: top;
}

figure figcaption {
    padding-top:10px;
    text-align: left;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#linked:hover {
    opacity: 0.7;
}

#github:hover {
    opacity: 0.7;
}


/* ==== form feilds === */

form {
    padding-top: 30px;
}

input[type=text] {
    width: 896px;
    padding: 5px;
    margin: 8px 0px 20px 0px;
    font-size: 16px;
    color: #777777;
}

input[type=textarea] {
    width: 896px;
    height: 200px;
    padding: 5px;
    margin: 8px 0px 20px 0px;
    font-size: 16px;
    color: #777777;
}

input[type=submit] {
    width: 120px;
    height: 40px;
    background-color:  #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
}

input[type=reset] {
    width: 120px;
    height: 40px;
    background-color:  #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
}

/* ==== fMedia Queriess === */

@media screen and (max-width: 980px) {
    
    .headCenter {
        max-width:980px;
        margin: 0 auto;
        padding: 0px;
    }

    .nav {

        align-content: center;
        margin-right: 10px;
    }
    
    .container {
        clear: both;
        max-width: 650px;
        float: left;
        background: white;
        border: 1px solid #dddddd;
    }

    input[type=text] {
        max-width: 588px;
        padding: 5px;
        margin: 8px 0px 20px 0px;
        font-size: 16px;
        color: #777777;
    }
    
    input[type=textarea] {
        max-width: 588px;
        height: 200px;
        padding: 5px;
        margin: 8px 0px 20px 0px;
        font-size: 16px;
        color: #777777;
    }
}

@media screen and (max-width: 768px) {

    .headCenter {
        max-width: 768px;
        margin: 0 auto;
        padding: 0px;
    }

    .container {
        clear: both;
        max-width: 650px;
        margin: 0px 20px 0px 20px;
        background: white;
        border: 1px solid #dddddd;
    }

    #copyright {
        width: 100%;
        height: 40px;
        text-align: center;
    }
    
    #social {
        width: 100%;
        vertical-align: top;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 690px) {

    header {
        width: 100%;
        height: 156px;
        margin: 0px 0px 40px 0px;
        padding: 0px;
        background-color: #ffffff;
        border-bottom: 2px solid #cccccc;
    }
    
    .headCenter {
        width: 100%;
        height: 156px;
    }

    .logo {
        width: 100%;
        height: 90px;
        background-color: #4aaaa5;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    
    .nav {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 65px;
        text-align: center;
    }

    .container {
        clear: both;
        max-width: 535px;
        margin: 0px 20px 0px 20px;
        background: white;
        border: 1px solid #dddddd;
    }

    ul {
        align-content: center;
        text-align: center;
        margin-left: -80px;
    }

    li {
        text-align: center;
    }

    #copyright {
        width: 100%;
        height: 40px;
        text-align: center;
    }
    
    #social {
        width: 100%;
        vertical-align: top;
        margin-bottom: 15px;
    }


    input[type=text] {
        max-width: 475px;
        padding: 5px;
        margin: 8px 0px 20px 0px;
        font-size: 16px;
        color: #777777;
    }
    
    input[type=textarea] {
        max-width: 475px;
        height: 200px;
        padding: 5px;
        margin: 8px 0px 20px 0px;
        font-size: 16px;
        color: #777777;
    }

}
